h1,
p {
  font-family: Lato;
  color: rgb(5, 49, 145);
}
.all {
  background-color: rgb(226, 225, 225);
  width: 100%;
}
.one {
  display: inline-block;
  width: 40%;
  margin: auto;
}
.two {
  display: inline-block;
  width: 60%;
  margin: auto;
  height: 80%;
}

div {
  text-align: left;
}
/* input Inner part */
.text {
  background-color: white;
  /* width: ; */
  margin: auto;
  padding: 10%;
  border-radius: 3%;
}
/* Inputs outer part */
fieldset.input {
  padding: 10%;
  width: 70%;
  margin: auto;
  border-radius: 3%;
  background-color: coral;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
/* Displaying Part */
fieldset.notes {
  background-color: rgb(240, 137, 231);
  width: 75%;
  padding: 3%;
  margin: auto;
  border-radius: 3%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

/* Emoji part */
.emoji {
  display: inline-block;
  width: 230px;
  margin: auto;
}

.li {
  display: block;
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 226, 220);
  max-height: fit-content;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.task {
  display: inline-block;
  width: 80%;
}

.emojiclass {
  display: inline-block;
  width: 10%;
  border-right: 1px solid black;
}
.datetime {
  text-align: end;
}

.editbtn,
.delbtn {
  cursor: pointer;
}
.emojiinput:hover {
  border-radius: 50%;
  box-shadow: 0px 2px 26px 1px rgba(0, 0, 0, 0.5),
    0 17px 50px 0 rgba(0, 0, 0, 0.3);
}
.emojiinput:active {
  transition-duration: 0.1s;
  width: 30px;
}

@media screen and (max-width: 900px) {
  .one {
    display: block;
    width: 90%;
    margin: auto;
  }
  .two {
    display: block;
    width: 100%;
    margin-bottom: 10%;
    margin: auto;
  }
  @media screen and (max-width: 650px) {
    .emojiclass {
      border-right: none;
    }
  }
  @media screen and (max-width: 550px) {
    .task {
      width: fit-content;
    }
  }
}
