h1,
p {
  font-family: Lato;
  color: rgb(5, 49, 145);
}
.all {
  background-color: rgb(226, 225, 225);
}
.one {
  display: inline-block;
  width: 40%;
  margin: auto;
  /* margin-right: 0%; */
}
.two {
  display: inline-block;
  width: 60%;
  margin: auto;
  height: 80%;
  /* margin-left: 0%; */
}

div {
  text-align: left;
}
/* input Inner part */
.text {
  background-color: white;
  /* width: ; */
  margin: auto;
  padding: 10%;
  border-radius: 3%;
}
/* Inputs outer part */
fieldset.input {
  padding: 10%;
  width: 70%;
  margin: auto;
  border-radius: 3%;
  background-color: coral;
}
/* Displaying Part */
fieldset.notes {
  background-color: rgb(240, 137, 231);
  width: 75%;
  padding: 3%;
  margin: auto;
  border-radius: 3%;
}

/* Emoji part */
.emoji {
  display: inline-block;
  width: 230px;
  margin: auto;
}

.li {
  display: block;
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(252, 248, 5);
  max-height: fit-content;
}

.task {
  display: inline-block;
  width: 80%;
}

.emojiclass {
  display: inline-block;
  width: 10%;
}
